@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #2B253D;
}

@media (max-width: 768px) {
    body {
        display: none;
    }
}