.Welcome {
  .Welcome-container {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .Welcome-left-column {
    .Welcome-title {
      color: #2B253D;
    }

    .Welcome-text {
      color: #5d87a8;
    }

    .Welcome-finger:before {
      content: "👇";
    }

    .Welcome-see-more:hover {
      .Welcome-finger:before {
        content: "👉";
      }
    }
  }

  .Welcome-right-column {
    position: relative;

    .Welcome-card {
      position: relative;

      .Welcome-card-tag {
        position: absolute;
        top: 130px;
      }
    }

    .Welcome-card-icon {
      .Welcome-card-icon-child {
        position: absolute;

        &:nth-child(1) {
          top: -10px;
          left: 215px;
          background-color: #ced9ff;
        }
        &:nth-child(2) {
          top: 30px;
          left: 480px;
          background-color: #c9f3ff;
        }
        &:nth-child(3) {
          top: 180px;
          left: 230px;
          background-color: #fff1c9;
        }
        &:nth-child(4) {
          top: 80px;
          left: 60px;
        }
        &:nth-child(5) {
          top: 235px;
          left: 330px;
        }
        &:nth-child(6) {
          top: 115px;
          left: 530px;
        }
        &:nth-child(7) {
          top: -55px;
          left: 475px;
        }
        &:nth-child(8) {
          top: -80px;
          left: 240px;
        }
      }
    }
  }
}